In [1]:
#Dear Teammates this are some of the concepts you need to understand, also I have used comment alongside the code so that you can understand whats happening 

# Text preprocessing in NLP is like preparing raw text data so that it's easier for a computer to understand and analyze. It involves doing things like:

#     Lowercasing: Making all letters lowercase so that "hello" and "Hello" are treated the same.

#     Tokenization: Breaking down sentences into individual words or "tokens."

#     Removing Punctuation and Special Characters: Getting rid of unnecessary symbols like commas or exclamation marks.

#     Removing Stopwords: Removing common words (like "the" or "and") that don't add much meaning.

#     Stemming and Lemmatization: Simplifying words to their basic form (like turning "running" into "run").

In [56]:
#importing necessary libraries
import numpy as np
import pandas as pd
import string

In [ ]:
#using natural language toolkit for various use later in the preprocessing part
import nltk
nltk.download('punkt')
nltk.download('stopwords')

In [55]:
from nltk.corpus import stopwords
from nltk import word_tokenize
from nltk.stem import PorterStemmer
from nltk.stem import WordNetLemmatizer

In [5]:
df = pd.read_csv("fake reviews dataset.csv")

In [6]:
df.head() #gives you the first five rows

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor..."
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I..."
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i..."
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...

In [7]:
df.isnull().sum()
#we got output as no missing values in the dataset

category    0
rating      0
label       0
text_       0
dtype: int64

In [8]:
df.columns #gives you the name of the columns present in the dataset

Index(['category', 'rating', 'label', 'text_'], dtype='object')

In [9]:
df['rating'].value_counts() #this will give you count of every rating

rating
5.0    24559
4.0     7965
3.0     3786
1.0     2155
2.0     1967
Name: count, dtype: int64

In [10]:
#the below function will remove punctuation and also remove all stopwords
def clean_text(text):
    nopunc = [w for w in text if w not in string.punctuation]
    nopunc = ''.join(nopunc)
    return  ' '.join([word for word in nopunc.split() if word.lower() not in stopwords.words('english')])

In [11]:
#when we do this it will add a newcolumn to the dataset with column name afterclean and keep all those texts aftering going through the clean_text function
#running this can take a couple of time 
#have patience guys :)
df['afterclean'] = df['text_'].apply(lambda x:clean_text(x))

In [12]:
df.head() #you can see here the afterclean column has been added it contains the clean texts

,category,rating,label,text_,afterclean
0,Home_and_Kitchen_5,5.0,CG,"Love this! Well made, sturdy, and very comfor...",Love Well made sturdy comfortable love itVery ...
1,Home_and_Kitchen_5,5.0,CG,"love it, a great upgrade from the original. I...",love great upgrade original Ive mine couple years
2,Home_and_Kitchen_5,5.0,CG,This pillow saved my back. I love the look and...,pillow saved back love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,"Missing information on how to use it, but it i...",Missing information use great product price
4,Home_and_Kitchen_5,5.0,CG,Very nice set. Good quality. We have had the s...,nice set Good quality set two months

In [13]:
df[['text_','afterclean']].head() #here you compare say the first sentence(Love this! Well made.....) stopwords like 'this' present in the text_column has been removed in the afterclean column also special characters like exclamation mark has been removed
#so this marks the ending of removing punctuation and stopwords.

,text_,afterclean
0,"Love this! Well made, sturdy, and very comfor...",Love Well made sturdy comfortable love itVery ...
1,"love it, a great upgrade from the original. I...",love great upgrade original Ive mine couple years
2,This pillow saved my back. I love the look and...,pillow saved back love look feel pillow
3,"Missing information on how to use it, but it i...",Missing information use great product price
4,Very nice set. Good quality. We have had the s...,nice set Good quality set two months

In [14]:
#but we don't want to create a new column instead we are editing the text_ column and changes will be in that column only so I am now deleting the afterclean column.
df.drop("afterclean",axis=1,inplace=True)

In [15]:
#now again after understanding the above things we will apply the same to the text_ columns
df['text_'] = df['text_'].apply(lambda x:clean_text(x))

In [16]:
df.head() #reqd op below

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,Love Well made sturdy comfortable love itVery ...
1,Home_and_Kitchen_5,5.0,CG,love great upgrade original Ive mine couple years
2,Home_and_Kitchen_5,5.0,CG,pillow saved back love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,Missing information use great product price
4,Home_and_Kitchen_5,5.0,CG,nice set Good quality set two months

In [17]:
df['text_'] = df['text_'].astype(str) #The code df['text_'] = df['text_'].astype(str) is converting the values in the 'text_' column of our Pandas DataFrame (df) to strings. Specifically, it's using the astype method to cast the values to the str type.

In [18]:
def preprocess(text):
    return ' '.join([word for word in word_tokenize(text) if word not in stopwords.words('english') and not word.isdigit() and word not in string.punctuation])
#the above function will tokenize,remove stopwords, remove numeric values,remove punctuation some of these function i have performed already like punctuation removal etc above ,anyways it will have no effects.

In [19]:
df['text_'] = df['text_'].str.lower() #converting everything to lower case

In [20]:
preprocess(df['text_'][0])

'love well made sturdy comfortable love itvery pretty'

In [ ]:
#Now we are gonna apply the preprocess function on all rows 
#but we will apply it to every 10000 rows one by one total 4 times as our data set has around 40k rows. Applying a function to a smaller subset of the data is generally faster than applying it to the entire column, especially when dealing with large datasets. This can be crucial for optimizing the runtime of your code.
df['text_'][:10000] = df['text_'][:10000].apply(preprocess)

In [ ]:
df['text_'][10001:20000] = df['text_'][10001:20000].apply(preprocess)

In [ ]:
df['text_'][20001:30000] = df['text_'][20001:30000].apply(preprocess)

In [ ]:
df['text_'][30001:40000] = df['text_'][30001:40000].apply(preprocess)

In [ ]:
df['text_'][40001:40432] = df['text_'][40001:40432].apply(preprocess)

In [54]:
df.sample(frac=1).head(5) #see random rows

,category,rating,label,text_
39833,Clothing_Shoes_and_Jewelry_5,4.0,OR,bought month one month old found littl tight a...
15144,Movies_and_TV_5,5.0,OR,love dvd rodney yee dvd gaiam becom favorit pr...
8639,Electronics_5,5.0,OR,great product highli reliabl durabl afford pri...
17036,Tools_and_Home_Improvement_5,4.0,OR,use scale plastic model use quarter probabl su...
37266,Clothing_Shoes_and_Jewelry_5,5.0,OR,shoe smart look fit comfort ive alway found an...

In [27]:
# STEMMING PART
# Stemming is a text normalization technique that involves reducing words to their base or root form. The goal of stemming is to group words with similar meanings together, even if they are not spelled exactly the same way. This helps in reducing the dimensionality of the feature space in text analysis and improves the efficiency of various NLP tasks.

#WE ARE GOING TO USE A FAMOUS ALGO KNOWN AS PORTERS ALGO FOR STEMMING

# The Porter Stemmer is a widely used stemming algorithm developed by Martin Porter in 1980. It is a rule-based algorithm designed to reduce words to their base or root form by removing common suffixes. The goal is to group words with similar meanings together.

stemmer = PorterStemmer()
def stem_words(text):
    return ' '.join([stemmer.stem(word) for word in text.split()])
df['text_'] = df['text_'].apply(lambda x: stem_words(x))

In [48]:
#LEMMATIZATION PART
# Lemmatization is another text normalization technique in natural language processing (NLP), similar to stemming. However, instead of simply removing suffixes as in stemming, lemmatization aims to reduce words to their base or canonical form, known as the lemma. The lemma represents the dictionary or canonical form of a word, making it a valid word.

#In short what we lemmitize will be availaible in the english dictionary :)

lemmatizer = WordNetLemmatizer()
def lemmatize_words(text):
    return ' '.join([lemmatizer.lemmatize(word) for word in text.split()])
df["text_"] = df["text_"].apply(lambda text: lemmatize_words(text))

In [50]:
df.head(20)

,category,rating,label,text_
0,Home_and_Kitchen_5,5.0,CG,love well made sturdi comfort love itveri pretti
1,Home_and_Kitchen_5,5.0,CG,love great upgrad origin ive mine coupl year
2,Home_and_Kitchen_5,5.0,CG,pillow save back love look feel pillow
3,Home_and_Kitchen_5,1.0,CG,miss inform use great product price
4,Home_and_Kitchen_5,5.0,CG,nice set good qualiti set two month
5,Home_and_Kitchen_5,3.0,CG,want differ flavor
6,Home_and_Kitchen_5,5.0,CG,perfect touch thing wish littl space
7,Home_and_Kitchen_5,3.0,CG,done fit well look great love smooth edg extra
8,Home_and_Kitchen_5,5.0,CG,great big number easi read thing didnt like size
9,Home_and_Kitchen_5,5.0,CG,son love comfort well made also babi
10,Home_and_Kitchen_5,5.0,CG,advertis 5th one ive problem realli
11,Home_and_Kitchen_5,5.0,CG,handi one kid tool includ packag one
12,Home_and_Kitchen_5,5.0,CG,someon say orient great product
13,Home_and_Kitchen_5,1.0,CG,flimsi qualiti would expect piec furnitur
14,Home_and_Kitchen_5,5.0,CG,make may tea stir problem kind hard put
15,Home_and_Kitchen_5,5.0,CG,absolut ador excel price wooden one month
16,Home_and_Kitchen_5,5.0,CG,love perfect size entir familyveri good qualiti
17,Home_and_Kitchen_5,5.0,CG,look beauti nice problem realli mesh one
18,Home_and_Kitchen_5,5.0,CG,exactli would expect love look feel pillow
19,Home_and_Kitchen_5,5.0,CG,star would highli recommend item love blanket

In [53]:
df["text_"].head(20)

0     love well made sturdi comfort love itveri pretti
1         love great upgrad origin ive mine coupl year
2               pillow save back love look feel pillow
3                  miss inform use great product price
4                  nice set good qualiti set two month
5                                   want differ flavor
6                 perfect touch thing wish littl space
7       done fit well look great love smooth edg extra
8     great big number easi read thing didnt like size
9                 son love comfort well made also babi
10                 advertis 5th one ive problem realli
11                handi one kid tool includ packag one
12                     someon say orient great product
13           flimsi qualiti would expect piec furnitur
14             make may tea stir problem kind hard put
15           absolut ador excel price wooden one month
16     love perfect size entir familyveri good qualiti
17            look beauti nice problem realli mesh one
18          exactli would expect love look feel pillow
19       star would highli recommend item love blanket
Name: text_, dtype: object

In [58]:
#Now i think the dataset is ready for making the model so next we need to save it in a csv file.
df.to_csv('PreprocessedDataset.csv')
#Preprocessing Done 20-02-24